body {
    background-color: #eee;
}

*[role="form"] {
    max-width: 1000px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="edit"]
{
  margin-top: 20em;
  margin-left: 11em;
  max-width: 1000px;
  padding: 15px;
  background-color: #fff;
  border-radius: 0.3em;
}



*[role="form"] h2 {
    margin-left: 6em;
    margin-bottom: 1em;
}


a.button
{
	text-decoration: none;
}

.btn-primary{
	background-color: #00BCD4;
	border-color: #00ACC1;
}

.btn-primary:hover
{
	color: #fff;
	background-color: #00BCD4;
	border-color: #00ACC1;
}

.btn-primary:active{
	background-color: #0097A7;
	border-color: #00838F;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #0097A7;
  border-color: #00838F;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #ffffff;
  background-color: #0097A7;
  border-color: #00838F;
}

.btn-primary,
.btn-info{
  font-size: 18px;
}

a.hover{
  color:#3097d1;
}

a.hover , a.focus, a.button
{
  color:#3097d1;
  text-decoration: none;
}

.input-group.date .input-group-addon {
    cursor: pointer;
}