.event-list {
		list-style: none;
		font-family: 'Lato', sans-serif;
		margin: 0px;
		padding: 0px;
	}
	.event-list > li {
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 0px 5px rgb(51, 51, 51);
		box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
		padding: 0px;
		margin: 0px 0px 20px;
	}
	.event-list > li > time {
		display: inline-block;
		width: 100%;
		color: rgb(255, 255, 255);
		background-color: green;
		padding: 5px;
		text-align: center;
		text-transform: uppercase;
	}
	.event-list > li:nth-child(even) > time {
		background-color: #00BCD4;
	}
	.event-list > li > time > span {
		display: none;
	}
	.event-list > li > time > .day {
		display: block;
		font-size: 56pt;
		font-weight: 100;
		line-height: 1;
	}
	.event-list > li time > .month {
		display: block;
		font-size: 24pt;
		font-weight: 900;
		line-height: 1;
	}
	.event-list > li > img {
		width: 100%;
	}
	.event-list > li > .info {
		padding-top: 5px;
		text-align: center;
	}
	.event-list > li > .info > .title {
		font-size: 17pt;
		font-weight: 700;
		margin: 0px;
	}
	.event-list > li > .info > .desc {
		font-size: 13pt;
		font-weight: 300;
		margin: 0px;
	}
	.event-list > li > .info > ul,
	.event-list > li > .social > ul {
		display: table;
		list-style: none;
		margin: 10px 0px 0px;
		padding: 0px;
		width: 100%;
		text-align: center;
	}
	.event-list > li > .social > ul {
		margin: 0px;
	}
	.event-list > li > .info > ul > li,
	.event-list > li > .form-group > ul > li {
		display: table-cell;
		cursor: pointer;
		color: rgb(30, 30, 30);
		font-size: 11pt;
		font-weight: 300;
        padding: 3px 0px;
	}
    .event-list > li > .info > ul > li > a {
		display: block;
		width: 100%;
		color: rgb(30, 30, 30);
		text-decoration: none;
	} 
    .event-list > li > .social > ul > li {    
        padding: 0px;
    }
    .event-list > li > .social > ul > li > a {
        padding: 3px 0px;
	} 
	.event-list > li > .info > ul > li:hover,
	.event-list > li > .social > ul > li:hover {
		color: rgb(30, 30, 30);
		background-color: rgb(200, 200, 200);
	}
/*	.facebook a,
	.twitter a,
	.google-plus a {
		display: block;
		width: 100%;
		color: rgb(75, 110, 168) !important;
	}
	.twitter a {
		color: rgb(79, 213, 248) !important;
	}
	.google-plus a {
		color: rgb(221, 75, 57) !important;
	}
	.facebook:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(75, 110, 168) !important;
	}
	.twitter:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(79, 213, 248) !important;
	}
	.google-plus:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(221, 75, 57) !important;
	}*/

	@media (min-width: 768px) {
		.event-list > li {
			position: relative;
			display: block;
			width: 100%;
			height: 120px;
			padding: 0px;
		}
		.event-list > li > time,
		.event-list > li > img  {
			display: inline-block;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 120px;
			float: left;
		}
		.event-list > li > .info {
			background-color: rgb(245, 245, 245);
			overflow: hidden;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 120px;
			height: 120px;
			padding: 0px;
			margin: 0px;
		}
		.event-list > li > .info {
			position: relative;
			height: 120px;
			text-align: left;
			/*padding-right: 40px;*/
		}	
		.event-list > li > .info > .title, 
		.event-list > li > .info > .desc {
			padding: 0px 10px;
		}
		.event-list > li > .info > ul {
			position: absolute;
			left: 0px;
			bottom: 0px;
		}
	/*	.event-list > li > .social {
			position: absolute;
			top: 0px;
			right: 0px;
			display: block;
			width: 40px;
		}
        .event-list > li > .social > ul {
            border-left: 1px solid rgb(230, 230, 230);
        }
		.event-list > li > .social > ul > li {			
			display: block;
            padding: 0px;
		}
		.event-list > li > .social > ul > li > a {
			display: block;
			width: 40px;
			padding: 10px 0px 9px;
		}*/
	}

	/*CREATE EVENT.PHP*/

			.events
		{
			margin: 20px auto;
		}

		figure.activity
		{
			color: #fff;
			position: relative;
			float: left;
			overflow: hidden;
			background-color: #1a1a1a;
			color: #ffffff;
			text-align: left;
			margin: 10px;
			width: 30%;
			border-radius: 0px;
		}

		figure.activity{
			-webkit-box-sizing: border-box;
			 box-sizing: border-box;
			 -webkit-transition: all 0.35s ease;
			 transition: all 0.35s ease;
		}

		figure.activity img{
			max-width: 100%;
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
			vertical-align: top;
			opacity: 0.7;
		}

		figure.activity figcaption{
			position: absolute;
			padding:  40px 25px;
			top: 0;
			left: 0;
		}

		figure.activity h2,
		figure.activity p {
		  margin: 0;
		  padding: 0;
		  font-family: Tahoma;
		}
		figure.activity h2 {
		  margin-bottom: 10px;
		  display: inline-block;
		  font-weight: 100;
		  font-size: 1.8em;
		}
		figure.activity p {
		  font-weight: 300;
		  margin-bottom: 20px;
		  line-height: 1.4em;
		}
		figure.activity a {
		  display: inline-block;
		  padding: 10px 20px;
		  border: 1px solid #ffffff;
		  text-decoration: none;
		  color: #ffffff;
		  letter-spacing: 2px;
		  text-transform: uppercase;
		  font-size: 0.8em;
		  -webkit-transform: translateY(50%);
		  transform: translateY(50%);
		  opacity: 0;
		}
		figure.activity a:hover {
		  background-color: rgba(0, 0, 0, 0.2);
		}
		figure.activity:hover img,
		figure.activity.hover img {
		  opacity: 0;
		  -webkit-transform: scale(1);
		  transform: scale(1);
		}
		figure.activity:hover a,
		figure.activity.hover a {
		  -webkit-transform: translateY(0);
		  transform: translateY(0);
		  opacity: 1;
		}
		figure.activity.navy {
		  background-color: #222f3d;
		}

		figure.activity.blue{
			background-color: #20638f;
		}

		figure.activity.green{
			background-color: #1e8449;
		}